@import "tailwindcss";
@import "https://www.nerdfonts.com/assets/css/webfont.css"

@custom-variant dark (&:is(.dark *));

:root {
	--background: #FdceFd;
	--foreground: #000000;
	--card: #edaeed;
	--card-foreground: #000000;
	--primary: #FB82F6;
	--primary-foreground: #600FcF;
    --primary-hover: #FBa2F6;
    --primary-hover-foreground: #604FcF;
	--secondary: #63b3f3;
	--secondary-foreground: #0F30c6;
    --secondary-hover: #43c3f3;
    --secondary-hover-foreground: #2F40c6;
    --tertiary: #83f3c3;
    --tertiary-foreground: #40f849;
    --tertiary-hover: #a3f3c3;
    --tertiary-hover-foreground: #90f899;
	--error: #f07070;
	--error-foreground: #b04040;
    --error-hover: #f09090;
    --error-hover-foreground: #d06060;
}
.dark {
    --background: #000000;
    --foreground: #ffffff;
    --card: #000000;
    --card-foreground: #ffffff;
    --primary: #FB82F6;
    --primary-foreground: #600FcF;
    --primary-hover: #FBa2F6;
    --primary-hover-foreground: #604FcF;
    --secondary: #63b3f3;
    --secondary-foreground: #0F30c6;
    --secondary-hover: #43c3f3;
    --secondary-hover-foreground: #2F40c6;
    --tertiary: #83f3c3;
    --tertiary-foreground: #40f849;
    --tertiary-hover: #a3f3c3;
    --tertiary-hover-foreground: #90f899;
    --error: #f07070;
    --error-foreground: #b04040;
	--error-hover: #f09090;
	--error-hover-foreground: #d06060;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
    --color-primary-hover: var(--primary-hover);
    --color-primary-hover-foreground: var(--primary-hover-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
    --color-secondary-hover: var(--secondary-hover);
    --color-secondary-hover-foreground: var(--secondary-hover-foreground);
    --color-tertiary: var(--tertiary);
    --color-tertiary-foreground: var(--tertiary-foreground);
    --color-tertiary-hover: var(--tertiary-hover);
    --color-tertiary-hover-foreground: var(--tertiary-hover-foreground);
	--color-error: var(--error);
	--color-error-foreground: var(--error-foreground);
    --color-error-hover: var(--error-hover);
    --color-error-hover-foreground: var(--error-hover-foreground);
}

@layer base {
	body {
		@apply bg-background text-foreground;
	}
}
